<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581610581437-bev28el8b722gmvjq1cv77r4siq0nc7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581610581437-bev28el8b722gmvjq1cv77r4siq0nc7c</string>
	<key>API_KEY</key>
	<string>AIzaSyCPikJtSVn4M7jFIQw9cPq8d2jUgxEfA9g</string>
	<key>GCM_SENDER_ID</key>
	<string>581610581437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.sena.HappyMind</string>
	<key>PROJECT_ID</key>
	<string>felizmente-e60b7</string>
	<key>STORAGE_BUCKET</key>
	<string>felizmente-e60b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581610581437:ios:9b1741cf507717929576d4</string>
	<key>DATABASE_URL</key>
	<string>https://felizmente-e60b7.firebaseio.com</string>
</dict>
</plist>